{
    admin off
}

cdn.jsdelivr.net {
    tls cdn.jsdelivr.net.pem cdn.jsdelivr.net-key.pem

    handle /pyodide/claude-local-files/* {
        uri strip_prefix /pyodide/claude-local-files
        root * files
        file_server
    }

    handle {
        reverse_proxy https://fastly.jsdelivr.net {
            header_up Host {upstream_hostport}
        }
    }
}